.donateBtn{
    margin-top: 3rem;
    background-color: #1C6758;
    color: white;
    font-weight: lighter;
    font-size: 0.9rem;
    padding: 0.4rem 1.3rem;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 3rem;
}