.card {
  padding: 0.5rem;
  height: 15rem;
  margin: 1rem;
  width: 25rem;
  color: white;
  margin-left: 2rem;
  background-color: #152453;
  background-image: linear-gradient(  to right,
  rgb(23, 23, 110),
  rgba(50, 50, 100, 0.6)),
    url("/trypic.jpg");
    border-radius: 1rem;

  >h4{
    font-size: 1.6rem;
  }
    > p{
      margin-top: 0.5rem;
      width: 40%;
      word-break: break-all;
      font-size: 1rem;
      font-weight: 100;
    }
  }
  
  

