.listItems {
  cursor: pointer;
  //color: #ffd800;
  font-weight: lighter;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.title {
  @media screen and (max-width: 850px) {
    display: none;
  }
}
