.donateBandWrap {
  margin-top: 4rem;
  background: #607eaadb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  > div {
    > img {
      border-radius: 50%;
    }
  }
  .donateText {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    > .buttons {
      padding-bottom: 2rem;
      align-items: center;
      > button {
        
        background-color: white;
        color: #152453;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 0.8rem 1.8rem;
        margin-top: 2rem;
        border-radius: 20px;

        @media screen and (max-width: 1200px) {
          width: 40%;
        }

        @media screen and (max-width: 800px) {
          width: 50%;
        }
      }
    }
  }
}
