.heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 2px rgb(146, 142, 142);
    -webkit-text-stroke: 0.5px white ;
    font-weight: 800;
    color: #162755;
}

