.container{

    margin:1rem 0;
    color: #152453 ;
    text-align: center;

    >div{
        padding: 2rem 25%;
        background-color: #C0D6EC;
        >h1{
           
            font-size: 1.7rem;
            font-weight: bold;
        }
        >p{
            margin-top: 1rem;
           
        }

        @media screen and (max-width:800px){
            padding: 1rem 15%;
        }
    }

    >button{
        background-color: #162755;
        color: white;
        font-weight: lighter;
        font-size: 0.9rem;
        padding: 0.6rem 1.8rem;
        margin: 2rem;
        border-radius: 10px;
    }

    
}