.container{

    margin:1rem 0;
    color: #152453 ;
    background: #C0D6EC;
    text-align: center;
    margin-top: 5rem;
    display: flex;
    align-items: center;
   >.leftContainer{
    width: 20vw;
    background: #C0D6EC;

    >img{
        height: 25vh;
        width: 100%;
        object-fit: contain;
        
    }
   }
        
        >.rightContainer{
            padding: 2rem 10%;
            background-color: #C0D6EC;
            width: 80vw;
        
            >h1{
               
                font-size: 1.7rem;
                font-weight: bold;
            }
            >p{
                margin-top: 1rem;
               
            }
    
            @media screen and (max-width:800px){
                padding: 1rem 15%;
            }
        
    }

    >button{
        background-color: #162755;
        color: white;
        font-weight: lighter;
        font-size: 0.9rem;
        padding: 0.6rem 1.8rem;
        margin: 2rem;
        border-radius: 10px;
    }

    
}