@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap");

.wrapper {
 
  background-image: url("/footerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  padding-top: 4rem;

  > .upperwrapper {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: center;
      
    }

    > div {
      height: 10rem;
      width: 15rem;
    }

    > .introWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: -2rem;
   //  background-color: pink;

      > p {
        // font-family: "Noto Sans", sans-serif;
        text-align: start;
        color: #152453;
        
        margin-left: 0.6rem;
        font-size: 0.7rem;
        font-weight: 600;
        @media screen and (max-width : 270px) {
          margin: 1rem;
          text-align: center;
        }
      }

      @media screen and (max-width : 270px) {
        flex-direction: column;
      }
    }

    > .addressWrapper {
      margin-top: 1rem;
      color: #152453;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      word-break: break-all;
      // justify-content: center;
      > h4 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      > p {
        
        margin-top: 0.8rem;
        font-size: 0.9rem;
      }
    }

    > .connectWrapper {
      color: #152453;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      // justify-content: center;
      > h4 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      > p {
        margin-top: 0.8rem;
      }

      >div .connectLink{
        display: flex;
        align-self: flex-start;
        align-items: center;
        >p{
          margin: 0px 5px;
        }
      }
    }
  }
}
