@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

.wrapper {
  background-color: #C0D6EC;
  padding: 1rem;
  padding-top: 3rem;

  >.upperwrapper {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width:650px) {
      flex-direction: column;
      align-items: center;
      >.introWrapper{
        height: 7rem;
      }
    }

    >div {
      height: 12rem;
      width: 15rem;
      // background: #000;
    }

    >.introWrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      // background-color: aquamarine;
      >p {
        font-family: 'Noto Sans', sans-serif;
        color: #152453;
        margin-left: 0.6rem;
        ;
        font-size: 0.8rem;
        font-weight: 600;

      }

    }

    >.addressWrapper {
      color: #152453;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      // justify-content: center;
      >h4 {
        font-size: 1.3rem;
        font-weight: 600;

      }

      >p {
        margin-top: 2.5rem;
      }
    }

    >.connectWrapper {
      color: #152453;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      // justify-content: center;
      >h4 {
        font-size: 1.3rem;
        font-weight: 600;

      }

      >p {
        margin-top: 2.5rem;
      }
    }
  }
}